* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.heading {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 5.4rem;
}

.container {
  max-width: 118rem;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1c1c1c;
  background-color: rgba(102, 112, 133, 0.9490196078);
  overflow-x: hidden;
  position: relative;
}

header {
  background-color: #f0fafb;
}
header .navbar {
  padding: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
header .navbar .first-nav img {
  width: 15%;
  cursor: pointer;
}
header .navbar .first-nav .home,
header .navbar .first-nav .home:link,
header .navbar .first-nav .home:visited {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 black;
  box-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
}
header .navbar .first-nav .home img,
header .navbar .first-nav .home:link img,
header .navbar .first-nav .home:visited img {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
}
header .navbar .first-nav .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  background-color: #ffffff;
  border: 1px solid #e8f2ff;
  border-radius: 1rem;
  box-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
  padding: 0 0.2rem;
}
header .navbar .first-nav .search-bar .power-off-icon {
  width: 2.2rem;
}
header .navbar .first-nav .search-bar img {
  width: 3rem;
}
header .navbar .first-nav .search-bar .search {
  display: flex;
  gap: 0.2rem;
  width: 30%;
}
header .navbar .first-nav .search-bar .search .ij-text p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #101828;
}
header .navbar .first-nav .search-bar .search .ij-text .subtext {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #667085;
}
header .navbar .first-nav .search-bar .search .ij-text .subtext img {
  width: 1rem;
  margin-bottom: -0.15rem;
}
header .navbar .second-nav,
header .navbar .second-nav:hover,
header .navbar .second-nav:link {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 8%;
  margin-right: 1rem;
  cursor: pointer;
}
header .navbar .second-nav .arrows,
header .navbar .second-nav:hover .arrows,
header .navbar .second-nav:link .arrows {
  display: flex;
}
header .navbar .second-nav .second-nav-icon,
header .navbar .second-nav:hover .second-nav-icon,
header .navbar .second-nav:link .second-nav-icon {
  background-color: #d1ebee;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
}
header .navbar .profile {
  display: flex;
  justify-content: space-between;
}
header .navbar .second-nav .one {
  background-color: #d1ebee;
  color: #488b92;
}
header .navbar .second-nav .two {
  background-color: white;
  color: #01d5eb;
  margin-left: 0.4rem;
}

.configuration {
  background-color: white;
  width: 50%;
  position: relative;
  margin-inline: auto;
  border-radius: 1rem;
  padding-top: 3rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.configuration hr {
  border-bottom: 1px solid #e4e7ec;
  margin: 0px 10rem;
  margin-top: 1rem;
}
.configuration .conf-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.configuration .conf-header h2 {
  color: #101828;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.9rem;
}
.configuration .conf-header p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #475467;
}
.configuration .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  margin: 2rem 0;
  margin-bottom: 1rem;
}
.configuration .cards .card {
  width: 25%;
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
  border: 1px solid #e4e7ec;
  background-color: #fdfeff;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.configuration .cards .card h3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #177c9a;
  text-align: center;
  transform: translateY(-70%);
}
.configuration .cards .card .propreties {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}
.configuration .cards .card .propreties .proprety {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
}
.configuration .cards .card .propreties .proprety .prop {
  display: flex;
  gap: 0.5rem;
}
.configuration .cards .card .propreties .proprety p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #344054;
}
.configuration .cards .card .propreties .proprety span {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #0188f7;
  border-radius: 0.5rem;
  text-align: end;
}
.configuration .cards .card:last-child {
  background-color: #dcedff;
}
.configuration .second-hr {
  margin: 0 16rem;
  margin-right: 10rem;
  transform: translateY(2rem);
  border: 0px;
  border-bottom: 1px solid #e4e7ec;
}
.configuration .personalize {
  width: 84%;
  margin-inline: auto;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.configuration .personalize p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #8a8a8a;
}
.configuration .personalize .round-button {
  width: 3rem;
  height: 1.8rem;
  border-radius: 1rem;
  background-color: #d0d5dd;
  position: relative;
}
.configuration .personalize .round-button .dot {
  background-color: white;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100%;
  position: absolute;
  top: 2.7px;
  left: 3px;
}
.configuration .personalize .round-button .dot:hover,
.configuration .personalize .round-button .dot:link {
  cursor: pointer;
}
.configuration .buttons button:first-child {
  border: 1.05px solid #0188f7;
  background-color: white;
  color: #0188f7;
}
.configuration .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.configuration .buttons button {
  background-color: white;
  border-radius: 0.2rem;
  border: none;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
  padding: 0.6rem 6rem;
  background: #0188f7;
  box-shadow: 0 1rem 2rem rgba(16, 24, 40, 0.05);
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #ffffff;
  letter-spacing: 0.1rem;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}/*# sourceMappingURL=style1.css.map */