@import "components/reset";
@import "components/reusable";
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $secondary;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
header {
  display: block;
  position: relative;
  background-color: #f0fafb;
  .navbar {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first-nav {
      margin-left: 19.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      .profile-tickets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 78%;
      }
      img {
        width: 15%;
        cursor: pointer;
      }
      .home,
      .home:link,
      .home:visited {
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 black;
        box-shadow: $base-shadow;
        img {
          height: 3rem;
          width: 3rem;
          padding: 0.6rem;
        }
      }
      .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 24%;
        background-color: #ffffff;
        border: 1px solid #e8f2ff;
        border-radius: 1rem;
        box-shadow: $base-shadow;
        padding: 0 0.2rem;
        .power-off-icon {
          width: 2.2rem;
        }
        img {
          width: 3rem;
        }
        .search {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          .ij-text {
            padding: 0.5rem;
            padding-top: 1rem;
            span {
              font-size: 1rem;
            }
            p {
              font-weight: 500;
              font-size: 1.2rem;
              line-height: 1rem;
              color: #101828;
            }
            .subtext {
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.8rem;
              color: #667085;
              img {
                width: 1rem;
                margin-bottom: -0.15rem;
              }
            }
          }
        }
      }
    }
    .second-nav,
    .second-nav:hover,
    .second-nav:link {
      display: flex;
      align-items: center;
      gap: 10%;
      margin-right: 1rem;
      cursor: pointer;
      .arrows {
        display: flex;
        margin-left: 1rem;
      }
      .second-nav-icon {
        background-color: #d1ebee;
        padding: 0.5rem;
        border-radius: 50%;
        box-shadow: $base-shadow;
      }
    }
    .profile {
      display: flex;
      justify-content: space-between;
    }
    .second-nav {
      .one {
        background-color: #d1ebee;
        color: #488b92;
      }
      .two {
        background-color: white;
        color: #01d5eb;
        margin-left: 0.4rem;
      }
    }
  }
}
.container2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 2%;
}

aside {
  border-right: 1px solid #e4e7ec;
  text-align: start;
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: white;
  top: 0;
  left: 0;
  height: 135vh;
  img {
    cursor: pointer;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    li {
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #344054;
      cursor: pointer;
    }
  }
  .menu li:last-child {
    background-color: #e5f4fd;
    color: #177c9a;
  }
}
.heading-primary {
  @include primary-title;
  margin-bottom: 1rem;
}
.heading-secondary {
  @include secondary-title;
  margin-bottom: 4rem;
}

.plans-billing {
  display: flex;
  flex-direction: column;

  .billing-text {
    .heading-primary {
      @include primary-title;
      margin-bottom: 1rem;
    }
    .heading-secondary {
      @include secondary-title;
      margin-bottom: 4rem;
    }
  }
  .billing-cards {
    margin-bottom: 4rem;
    display: flex;
    gap: 1%;
    border-radius: 1rem;
    .payment {
      width: 50%;
    }
    .billing-card {
      padding: 1rem;
      width: 50%;
      border: $border;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      .heading-text {
        .card-heading {
          @include billing-card-title;
        }
        p {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
      .billing-heading-card {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        .price {
          font-weight: 500;
          font-size: 3rem;
          line-height: 3.8rem;
          padding: 1rem 0;
          color: #000000;
          span {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
          }
        }
      }
      .users {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;
        .users-pic {
          margin-left: 1rem;
          img {
            margin-left: -1rem;
          }
          a {
            margin-top: -2rem;
            padding: 0.6rem;
            padding-bottom: 0.5rem;
            border-radius: 50%;
            border: 1px dashed #d1d1d1;
            color: black;
            background-color: #f5f5f5;
          }
        }
        .users-text {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2.3rem;
          color: #000000;
        }
      }
      hr {
        border: none;
        border-bottom: $border;
      }
      button {
        @include billing-btn;
        align-self: flex-end;
        margin-top: 2rem;
        cursor: pointer;
      }
    }
    .payment {
      .payment-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          margin: 0;
          border: $border;
          padding: 1rem;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 1.4em;
          line-height: 2.8rem;
          color: #344054;
        }
      }
      .visa {
        border: $border;
        border-radius: 1rem;
        margin-top: 2.5rem;
        .visa-img-box {
          .visa-img-box-one {
            display: flex;
            align-items: center;
            gap: 1rem;
            p {
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 2.4rem;
              color: #344054;
            }
            .visa-text p:last-child {
              font-weight: 400;
              font-size: 1.4rem;
              color: #7a818c;
              line-height: 2rem;
            }
            .visa-text {
              span {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.8rem;
                color: #7a818c;
              }
            }
            .email-text {
              display: flex;
              align-items: center;
              gap: 0.3rem;
              img {
                width: 1.3 rem;
                height: 1.3rem;
              }
            }
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          button {
            margin: 0;
            align-self: center;
            cursor: pointer;
            width: 50%;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

.billing-history {
  .billing-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
      @include billing-btn;
      color: white;
      background-color: #0188f7;
      border: 1px solid #1570ef;
      padding: 0.5rem 3rem;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .billing-content {
    padding: 1rem;
    border: $border;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;

    .invoices div:first-child {
      display: flex;
      gap: 1rem;
      text-align: start;
      margin-bottom: 1rem;
    }
    .column p:first-child {
      margin-bottom: 1rem;
    }
    .invoices,
    .billing-admin {
      ion-icon {
        cursor: pointer;
      }
      height: 20rem;
      .invoice,
      .admin {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
      .admin {
        .profile-text p {
          margin-bottom: 0;
        }
        .profile-text span {
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 1.2rem;
          color: #848484;
        }
      }
      .admin,
      .invoice,
      .date p {
        height: 4rem;
      }
      .invoice:nth-child(2) ::after {
        content: "Paid";
        @include after;
      }
      .invoice:nth-child(3) ::after {
        content: "Pending";
        @include after;
        background-color: #ffddb1;
        border: 1px solid #f79009;
      }
      .invoice:nth-child(4) ::after {
        content: "Unpaid";
        @include after;
        background-color: #ffdbd9;
        border: 1px solid #f04438;
      }
      .invoice:nth-child(5) ::after {
        content: "Unpaid";
        @include after;
        background-color: #ffdbd9;
        border: 1px solid #f04438;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }
    .date p:not(:first-child),
    .amount p:not(:first-child),
    .users-column p:not(:first-child) {
      padding: 0.75rem 0;
    }
    .download .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      button {
        @include billing-btn;
        padding: 0 0.9rem;
        margin-right: 1rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2.4rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
      .dots-icon {
        font-size: 1.6rem;
      }
    }
  }
}
