.absolute {
  position: absolute;
}
.heading {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 5.4rem;
}
.container {
  max-width: 118rem;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
@mixin basic-button {
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  border: none;
  font-size: 1.6rem;
}
$base-shadow: 0px 4px 14px rgba(2, 187, 240, 0.14);
@mixin basic-card {
  width: 25%;
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: $base-shadow;
}
@mixin basic-btn {
  background-color: white;
  border-radius: 0.2rem;
  border: none;
  padding: 1rem 2rem;
  box-shadow: $base-shadow;
}
